body {
    background-color: #23b6c6;
    display: flex;
    height: 100vh;
} 

img {
    width: 5em;
    height: auto;
}

.accordion {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 
.accordion__item {
    flex-direction: column;     
    flex-basis: 10%;
    height: 100%;
    margin-bottom: 1em;
    border-radius: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
    background-color: #e6f8ff;
    cursor: pointer;
    box-shadow: .3em .3em .3em #67adb5;
    transition: 
        background-color 0.2s ease-in
  }

.accordion__item__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item__icon {
    padding: 0.25em;
    width: 1em;
    height: 1em;
    content-visibility: hidden;
}

.accordion:hover .item__icon {
    content-visibility: visible;
}
  
.accordion__item:hover { 
    background-color: #618698;
} 
  
.accordion__item:active { 
    box-shadow: .1em .1em .1em #5cbbc5;
    background-color: #c9e5f4;
    color: white;
}

.accordion__item__image {
    content-visibility: hidden;
}

.accordion__item:hover .accordion__item__image {
    content-visibility: visible;
}

.accordion__item:active .accordion__item__image {
    content-visibility: visible;
}